<h1>Events</h1>

<div class="events">
  <div class="container">
    <div class="event-cards row">
      <% @events.each do |event| %>
        <div class="event-card col-6">
          <% if event.image.present? %>
            <%= cl_image_tag(event.image) %>
          <% end %>
          <% if event.users.include? @current_user %>
            <label class="btn btn-success active join-box">
              Member
            </label>
          <% else %>
            <%= button_to "Join Event", joingroup_event_path(event.id), :method => :put, :class => "btn btn-primary join-button" %>
          <% end %>
          <%= link_to event_path(event.id) do %>
            <div class="event-titles">
              <h2><%= event.title %></h2>
              <h2><%= event.location %></h2>
              <h2><%= date_format event.date %></h2>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>
