

<div class="row justify-content-md-center create-event">

  <div class="card main-card event-card col-md-6">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-img-top card-background" style="background-image: url(<%= cl_image_path @event.image%>);">
      <h3 class="card-title"><%= @event.title %></h3>
      <h3 class="card-title"><%= @event.date %></h3>
      <h3 class="card-title"><%= @event.location %></h3>
    </div>
    <div class="card-body">
      <p>Category: <%= Category.find(@event.category_id).title %></p>
      <p class="card-text"><%= @event.description %></p>
    </div>


    <!-- <div class="messages">
      <# @event.messages.reverse.each do   %>

    </div> -->
    <% if @comment.present? %>
      <div class="comment">
      <%= form_for @comment do |f| %>
        <%= f.text_field :post, :placeholder => 'Comment...' %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :event_id %>
        <%= f.submit "Post", :class => "post-button bnt btn-primary" %>
      <% end %>
      <% @event.comments.each do |comment| %>
        <div class="user-and-post"><p class="user"><%= comment.user.name %></p><p class="post"><%= comment.post  %></p></div>
      <% end %>
      </div>
    <% end %>

  </div>
</div>
