<!DOCTYPE html>
<html>
  <head>
    <title>Event Creator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-sm">
          <!-- <a class="navbar-brand" href="#">
            <img src="" width="30" height="30">Home
          </a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
              <li class="nav-item"><%= link_to "Categories", categories_path, :class => "nav-link" %></li>
              <li class="nav-item"><%= link_to "Events", filters_path,  :class => "nav-link" %></li>
            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->

            <ul class="navbar-nav justify-content-end">
              <% if @current_user.present? %>
                <li class="nav-item"><%= link_to @current_user.name, user_path(@current_user.id), :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Log out", logout_path, method: "delete", :class => "nav-link" %></li>
              <% else %>
                <li class="nav-item"><%= link_to "Login", 'login', :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Signup", users_new_path, :class => "nav-link" %></li>
              <% end %>
            </ul>
          </div>
        </nav>
          <!-- <nav class="navbar">
            <div class="col-3">
              <ul>
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to "Events", filters_path %></li>
              </ul>
            </div>
            <div class="col-6">

            </div>
            <div class="col-3 login">
              <% if @current_user.present? %>
                <ul>
                  <li><%= @current_user.email %></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                </ul>
              <% else %>
                <ul>
                  <li><%= link_to "Login", 'login' %></li>
                  <li><%= link_to "Signup", users_new_path %></li>
                </ul>
              <% end %>
            </div>
          </nav> -->
      </div>
    </header>

    <main class="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul>
              <h3>About</h3>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Jobs</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <h3>Support</h3>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Get Started</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <h3>Community</h3>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Google+</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
